.rv-xy-plot .rv-discrete-color-legend {
  margin-top: -10px; }
  .rv-xy-plot .rv-discrete-color-legend .rv-discrete-color-legend-item {
    display: inline-flex; }
  .rv-xy-plot .rv-discrete-color-legend .rv-discrete-color-legend-item__color {
    width: 30px; }
  .rv-xy-plot .rv-discrete-color-legend .rv-discrete-color-legend-item__title {
    margin-top: -5px;
    margin-left: 1px; }
