$border-color: #CECECE;

.ReactTable{
    width: 80vw;
    margin: auto;
    text-align: center;
    border: 2px solid $border-color;
    .pagination-bottom{
        display: none;
    }

    .rt-thead.-header{
        display: none;
    }
    .rt-tbody {
        .rt-td {
            border-right: 1px solid $border-color;
        }
        .rt-tr-group {
            border-bottom: 1px solid $border-color;
            &:nth-child(8){
                height: 20vh;
                min-height: 200px;
            }
            &:nth-child(9),&:nth-child(10){
                .rt-td{
                    padding: 0;
                    line-height: 34px;
                    div[contenteditable='true']{
                        &:focus{
                            border: 2px solid green;
                        }
                    }
                }
            }
        }
    }

}
