$border-color: #CECECE;
$selected-color: green;

.ReactTable{
    text-align: right;
    border: 2px solid $border-color;
    .pagination-bottom{
        display: none;
    }

    .rt-thead.-header{
        display: none;
        min-width: 0!important;
    }
    .rt-tbody {
        @media (min-width: 1280px) {
            min-width: 0!important;
        }
        .rt-tr-group {
            border-bottom: 1px solid $border-color;
            font-size: 14px;

            @media (min-width: 1280px) {
                min-width: 0;
            }

            &:nth-child(8){
                height: 250px
            }

            .rt-td {
                padding: 3px;
                line-height: 20px;
                border-right: 1px solid $border-color;
                width: 4vw!important;

                // title style
                &:first-child{
                    font-weight: 600;
                    width: 8vw!important;
                    text-align: left;
                }

                // editable row styles
                div[contenteditable='true']{
                    &:focus{
                        outline: 3px solid $selected-color;
                    }
                }
            }
        }

        // selected border styles
        .selected-col{
            position: relative;
            &:before{
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                width: 100px;
                height: 2px;
                background: $selected-color;
            }
        }

        .selected-row::before{
            content: " ";
            position: absolute;
            width: 2px;
            height: 25px;
            left: -2px;
            background: $selected-color;
        }

    }

}
